In [16]:
import geopandas as gpd
from pathlib import Path
import pandas as pd
from tqdm import tqdm

In [3]:
#   set data input Path and flood map name 
root_dir = Path ("C:/","Data","Floods","Germany", "basin_intersections") #specify the path to the folder holding the input data

#C:\Data\Floods\Germany\fluvial_undefended\raw_subsample
print('Root: ',end='')
print(root_dir)
_flood_map_name = "DERP_RW_M_4326_hybas_intersections.geojson" #set the name for the flood map
flood_map=root_dir / _flood_map_name

#   set data output name and directory
output_map_dir=root_dir / _flood_map_name.split('.')[0]
#output_map_prot=root_dir / "DERP_RW_M_4326_wdepth_prot.shp"

print('File: ',end='')
print(output_map_dir)
# assert flood_map.is_file()

Root: C:\Data\Floods\Germany\basin_intersections
File: C:\Data\Floods\Germany\basin_intersections\DERP_RW_M_4326_hybas_intersections

In [4]:
flood_map_gdf=gpd.read_file(flood_map)
flood_map_gdf.head(2)

,T_class,w_depth,depth_clas,flood_area,HYBAS_ID,MAIN_BAS,PFAF_ID,ORDER,geometry
0,11,0.25,1,1,2080447840,2080023010,23267015,1,"MULTIPOLYGON (((8.16414 49.05517, 8.16415 49.0..."
1,11,0.25,1,1,2080447840,2080023010,23267015,1,"MULTIPOLYGON (((7.74782 49.16956, 7.74780 49.1..."

In [17]:
# hybas_ids=[]

# Iterate over unique hybas_ids
for unique_hybas_id in tqdm(flood_map_gdf['HYBAS_ID'].unique()):
    output_file=f'flood_basin_{unique_hybas_id}.geojson'
    output_path=output_map_dir / output_file
    # Select rows with the current unique value
    subset = flood_map_gdf[flood_map_gdf['HYBAS_ID'] == unique_hybas_id]  # Assuming there are at least 5 rows for each unique value
    # Export the subset as GeoJSON
    subset.to_file(output_path, driver='GeoJSON')

  0%|          | 0/61 [00:00<?, ?it/s]

100%|██████████| 61/61 [15:46<00:00, 15.51s/it]

In [11]:
subset

,T_class,w_depth,depth_clas,flood_area,HYBAS_ID,MAIN_BAS,PFAF_ID,ORDER,geometry
829,15,4.0,5,1,2080429670,2080023010,23264010,2,"MULTIPOLYGON (((8.29181 49.99260, 8.29182 49.9..."